@import '../../App.scss';

.posts {
    padding: 10px;
}

.fab {
    z-index: 100;
    background-color: #ef7676;
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #ef7676;
    color: white;

    &:hover {
        background-color: red;
        border: 4px solid red;
        color: white;
    }
}

.filter-grid-container {
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;

    .grid-item {
        display: flex;
        align-items: center;

        input,
        select {
            padding: 1.2rem;
            border-radius: 0.25rem;
            box-sizing: border-box;
            flex: 1;
            border: 1px solid map-get($colors, primary-light);
            margin: 0px 5px;

            &:focus {
                outline: none;
                border: 1px solid map-get($colors, primary);
            }
        }
    }
}