$colors: (
  primary: #009dff,
  primary-dark: darken(#009dff, 10%),
  primary-light: lighten(#009dff, 10%),
  secondary: #c6c6c6,
  secondary-dark: darken(#c6c6c6, 10%),
  secondary-light: lighten(#c6c6c6, 15%),
  danger: #fe6868,
  danger-dark: darken(#fe6868, 10%),
  danger-light: lighten(#fe6868, 5%),
);


main {
  width: 900px;
  margin: 0 auto;
}

.page-heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.form-input {
  margin-bottom: 10px;

  label {
      font-weight: 500;
      line-height: 1.8rem;
  }

  input {
      padding: 1.2rem;
      border-radius: 0.25rem;
      box-sizing: border-box;
      width: 100%;
      border: 1px solid map-get( $colors, primary-light);
      
      &:focus {
          outline: none;
          border: 1px solid map-get( $colors, primary);
      }
  }

  textarea {
      display: block;
      width: 100%;
      // background-color: pink;
      padding: 1.2rem;
      border-radius: 0.25rem;
      box-sizing: border-box;
      resize: none;
      border: 1px solid map-get( $colors, primary-light);
      
      &:focus {
          outline: none;
          border: 1px solid map-get( $colors, primary);
      }
  }
}